/* General */

* {
  box-sizing: border-box;
}

:root {
  --accent-background: rgb(50, 61, 55);
  --accent-font-color: rgb(247, 247, 247);
}

.theme-light {
  --font-color: rgb(44, 54, 48);
  --title-color: rgb(31, 43, 36);
  --bg-color: rgb(247, 247, 247);
  --accent-color: rgb(243, 237, 237);
  --bg-section: rgb(50, 61, 55);
}

.theme-dark {
  --font-color: rgb(224, 224, 224);
  --title-color: rgb(247, 247, 247);
  --bg-color: rgb(31, 43, 36);
  --accent-color: rgb(50, 61, 55);
  --bg-section: rgb(243, 237, 237);
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

.theme-switch {
  display: flex;
  align-items: center;
}

.switch-image {
  max-width: 20px;
  max-height: 20px;
}

.invert-image {
  filter: invert(1);
  max-width: 20px;
  max-height: 20px;
}

/* Header  */

.main-title {
  font-size: x-large;
  font-style: oblique;
  font-weight: bold;
  color: var(--title-color);
  text-decoration: none;
  margin: auto 10px;
}

.navbar {
  position: relative;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 50px;
  margin: 10px auto;
  padding: 10px 30px;
}

.nav-flex {
  display: flex;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navitem {
  padding: 0 10px;
  color: var(--title-color);
}

.lang-button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0 0 0 10px;
}

.navbar-toggler {
  display: none;
  height: 20px;
  width: 30px;
  padding: 0;
  background: transparent;
  border: 0px;
  outline: none;
}

.animated-navbar-toggler-icon {
  position: relative;
  width: 100%;
  height: 100%;
}

.animated-navbar-toggler-icon span {
  position: absolute;
  left: 0px;
  width: 100%;
  display: block;
  height: 3px;
  border-radius: 9px;
  background-color: var(--title-color);
  transition: 0.3s ease-in-out;
}

.animated-navbar-toggler-icon span:nth-child(1) {
  top: 0px;
}

.animated-navbar-toggler-icon span:nth-child(2) {
  top: 9px;
  transform-origin: center;
}

.animated-navbar-toggler-icon span:nth-child(3) {
  bottom: -1px;
}

/* Main section */

.main-section {
  justify-content: space-between;
  display: flex;
  padding: 10px 50px;
  max-height: 500px;
}

.main-div {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 10px;
}

.title-main {
  height: 40px;
  width: 100%;
  background-color: var(--accent-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
}

.img-div {
  display: flex;
  width: 100%;
  height: 100%;
  /* max-height: 400px; */
}

.main-div .img-div {
  max-height: 400px;
}

.main-div div:nth-child(1) {
  padding-bottom: 10px;
}

.category-bnt {
  border: 0px;
  padding: 0px;
  outline: none;
  background-color: transparent;
  color: var(--accent-font-color);
}

/* About section  */

.about-section {
  display: flex;
  justify-content: space-between;
  /* max-height: 500px; */
  padding: 58px;
}

.left-about {
 
}

.left-about div:nth-child(1) {
  background-color: var(--accent-background);
  width: 60px;
}

.right-about {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  padding: 20px 60px 0;
  font-weight: bold;
  font-size: larger;
  color: var(--title-color);
}

.about-content {
  padding: 0px 60px 20px;
  color: var(--font-color);
}

@media screen and (max-width: 1024px) {
  .left-about {
    flex: 3;
  }

  .left-about img {
    padding-right: 20px;
  }

  .right-about {
    flex: 2;
  }

  .about-title {
    padding: 20px 40px 0;
  }

  .about-content {
    padding: 0px 40px 20px;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0.4;
    width: 100%;
    background: var(--accent-color);
    right: 0px;
    top: 45px;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(var(--font-color), 0.4);
    transition: 0.3s ease-in-out;
    flex-direction: column;
    overflow: hidden;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navitem {
    display: flex;
    text-decoration: none;
    padding: 15px;
  }

  .navbar.toggled .nav-menu {
    visibility: visible;
    opacity: 1;
  }

  .navbar.toggled .animated-navbar-toggler-icon span:nth-child(1) {
    transform: rotate(45deg);
    margin-top: 7px;
  }

  .navbar.toggled .animated-navbar-toggler-icon span:nth-child(2) {
    transform: scale(0.1, 1);
    margin-bottom: 2px;
  }

  .navbar.toggled .animated-navbar-toggler-icon span:nth-child(3) {
    transform: rotate(-45deg);
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: larger;
  }

  .main-section {
    padding: 0px 30px 30px;
  }

  .left-about div:nth-child(1) {
    width: 40px;
  }

  .left-about img {
    padding-right: 20px;
  }

  .about-title {
    padding: 10px 20px 0;
  }

  .about-content {
    padding: 0px 20px 10px;
  }

  .about-section{
    padding: 39px;
  }
}

@media screen and (max-width: 500px) {
  .main-section {
    padding: 0 15px 15px;
    overflow-x: scroll;
  }

  .main-div {
    min-width: 300px;
  }

  .img-div {
    height: 400px;
    max-height: 100%;
  }

  .about-section {
    flex-direction: column;
    padding: 25px;
  }

  .left-about {
    flex: 1;
  }

  .left-about img {
    padding: 0px;
  }

  .left-about div:nth-child(1) {
    display: none;
  }

  .right-about {
    flex: 1;
  }

  .about-content {
    padding: inherit;
  }

  .about-title {
  padding: 10px 20px 0 0;
  }
}
