/* General */

* {
  box-sizing: border-box;
}

:root {
  --accent-background: rgb(50, 61, 55);
  --accent-font-color: rgb(247, 247, 247);
}

.theme-light {
  --font-color: rgb(44, 54, 48);
  --title-color: rgb(31, 43, 36);
  --bg-color: rgb(247, 247, 247);
  --accent-color: rgb(243, 237, 237);
  --bg-section: rgb(50, 61, 55);
}

.theme-dark {
  --font-color: rgb(224, 224, 224);
  --title-color: rgb(247, 247, 247);
  --bg-color: rgb(31, 43, 36);
  --accent-color: rgb(50, 61, 55);
  --bg-section: rgb(243, 237, 237);
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

.theme-switch {
  display: flex;
  align-items: center;
}

.switch-image {
  max-width: 20px;
  max-height: 20px;
}

.invert-image {
  filter: invert(1);
  max-width: 20px;
  max-height: 20px;
}

/* Header  */

.main-title {
  font-size: x-large;
  font-style: oblique;
  font-weight: bold;
  color: var(--title-color);
  text-decoration: none;
  margin: auto 10px;
}

.navbar {
  position: relative;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 50px;
  margin: 10px auto;
  padding: 10px 30px;
}

.nav-flex {
  display: flex;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navitem {
  padding: 0 10px;
  color: var(--title-color);
}

.lang-button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0 0 0 10px;
}

.navbar-toggler {
  display: none;
  height: 20px;
  width: 30px;
  padding: 0;
  background: transparent;
  border: 0px;
  outline: none;
}

.animated-navbar-toggler-icon {
  position: relative;
  width: 100%;
  height: 100%;
}

.animated-navbar-toggler-icon span {
  position: absolute;
  left: 0px;
  width: 100%;
  display: block;
  height: 3px;
  border-radius: 9px;
  background-color: var(--title-color);
  transition: 0.3s ease-in-out;
}

.animated-navbar-toggler-icon span:nth-child(1) {
  top: 0px;
}

.animated-navbar-toggler-icon span:nth-child(2) {
  top: 9px;
  transform-origin: center;
}

.animated-navbar-toggler-icon span:nth-child(3) {
  bottom: -1px;
}

/* Main section */

.main-section {
  justify-content: space-between;
  display: flex;
  padding: 10px 50px;
  max-height: 500px;
}

.main-div {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 10px;
}

.title-main {
  height: 40px;
  width: 100%;
  background-color: var(--accent-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
}

.img-div {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-div .img-div {
  max-height: 400px;
}

.main-div div:nth-child(1) {
  padding-bottom: 10px;
}

.category-bnt {
  border: 0px;
  padding: 0px;
  outline: none;
  background-color: transparent;
  color: var(--accent-font-color);
}

/* About section  */

.about-section {

  display: flex;
  justify-content: space-between;
  /* max-height: 500px; */
  padding: 58px;
}

.left-about {
  display: grid;
  grid-template: "left-about about-title" 200px "left-about about-content" 200px "left-about about-content" 200px/1fr 1fr;
  padding: 20px 0px;
}

.left-about {
  display: flex;
  grid-area: left-about;

}

.left-about div:nth-child(1) {
  background-color: var(--accent-background);
  min-width: 60px;
}

.about-title {
  display: flex;
  align-items: flex-end;
  padding: 20px 60px 0;
  font-weight: bold;
  font-size: larger;
  color: var(--title-color);
  grid-area: about-title;
}

.about-title > div {
  display: flex;
  align-items: center;
}

.square-icon {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: var(--accent-background);
}

.about-content {
  padding: 0px 60px 20px;
  color: var(--font-color);
  grid-area: about-content;
}

/* Benefits section */
.benefits-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.benefits-title {
  display: flex;
  align-items: center;
  padding: 20px 60px 0;
  font-weight: bold;
  font-size: larger;
  color: var(--title-color);
}

.benefit-title {
  padding: 10px 0;
  color: var(--title-color);
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.benefits-section .benefit {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  width: calc(33.33333% - 60px);
}

.benefit-bottom-block {
  display: flex;
}

.benefit-left-block {
  width: 5px;
  height: 100%;
  border-radius: 9px;
  margin-right: 15px;
  background-color: var(--accent-background);
}

.benefits-section .benefit .img-div {
  padding-bottom: 10px;
}

.benefits-section .benefit:nth-child(2) {
  margin: 0 30px;
}

.benefits-section .benefit img {
  max-height: 340px;
}
/* Footer */
/* Contact Us */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(50, 61, 55);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* End of Contact Us */

/* Company information */

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
 
  padding: 55px 50px;
  margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
 
.footer-distributed .footer-left{
  width: 40%;
}
 
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
 
.footer-distributed h3 span{
  color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
 
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
 
.footer-distributed .footer-center{
  width: 35%;
}
 
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}
 
.footer-distributed .footer-right{
  width: 20%;
}
 
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
 
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
  margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
 
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
 
  margin-right: 3px;
  margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
  .footer-distributed{
    font: bold 14px sans-serif;
  
  }
 
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
 
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}
/* End of Footer */

@media screen and (max-width: 1024px) {
  .main-section {
    padding: 10px 30px;
  }

  .left-about img {
    padding-right: 20px;
  }

  .left-about div:nth-child(1) {
    min-width: 40px;
  }

  .about-title {
    padding: 20px 40px 0;
  }

  .about-content {
    padding: 0px 40px 20px;
  }

  .about-section {
    grid-template: "left-about about-title" "left-about about-content"/ 3fr 2fr;
  }

  .benefit img {
    max-height: 280px;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0.4;
    width: 100%;
    background: var(--accent-color);
    right: 0px;
    top: 45px;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(var(--font-color), 0.4);
    transition: 0.3s ease-in-out;
    flex-direction: column;
    overflow: hidden;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navitem {
    display: flex;
    text-decoration: none;
    padding: 15px;
  }

  .navbar.toggled .nav-menu {
    visibility: visible;
    opacity: 1;
  }

  .navbar.toggled .animated-navbar-toggler-icon span:nth-child(1) {
    transform: rotate(45deg);
    margin-top: 7px;
  }

  .navbar.toggled .animated-navbar-toggler-icon span:nth-child(2) {
    transform: scale(0.1, 1);
    margin-bottom: 2px;
  }

  .navbar.toggled .animated-navbar-toggler-icon span:nth-child(3) {
    transform: rotate(-45deg);
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: larger;
  }

  .main-section {
    padding: 0px 20px 20px;
  }

  .left-about div:nth-child(1) {
    min-width: 30px;
  }

  .left-about img {
    padding-right: 20px;
  }

  .about-title {
    padding: 10px 30px 0;
  }

  .about-content {
    padding: 0px 30px 10px;
  }

  .about-section {
    grid-template: "left-about about-title" "left-about about-content"/ 3fr 2fr;
  }

  .benefits-section {
    padding: 10px 30px;
  }

  .benefits-title {
    padding: 20px 30px 10px;
  }

  .benefit-left-block {
    min-width: 3px;
  }

  .about-section{
    padding: 39px;
  }
}

@media screen and (max-width: 500px) {
  .main-section {
    padding: 0 15px 15px;
    overflow-x: scroll;
  }

  .main-div {
    min-width: 300px;
  }

  .left-about .img-div {
    height: 400px;
    max-height: 100%;
  }

  .about-section {
    grid-template: "about-title" "left-about" "about-content";
    padding: 15px 25px;
  }

  .left-about img {
    padding: 0px;
  }

  .left-about div:nth-child(1) {
    display: none;
  }

  .about-title {
    font-size: large;
    padding: 0px;
    padding-bottom: 20px;
  }

  .about-content {
    padding: 0px;
  }

  .benefits-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 25px;
  }

  .benefits-section .benefit {
    width: 100%;
  }

  .benefits-section .benefit:nth-child(1) {
    padding-bottom: 40px;
  }

  .benefits-section .benefit:nth-child(2) {
    margin: 0px;
    padding-bottom: 40px;
  }

  .benefits-title {
    padding: 20px 25px 10px;
  }

  .benefit-left-block {
    min-width: 3px;
    height: unset;
  }

  .about-title {
  padding: 10px 20px 0 0;
  }
}
